doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-material-design.css')
    link(rel='stylesheet', href='/stylesheets/ripples.css')
    link(rel='stylesheet', href='/stylesheets/material-icons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.js')
body
  if(sesion != undefined)
    include navSiLogueado
  else
    include navNoLogueado            
  block content
  
  footer.navbar-fixed-bottom
    //hr
    p © 2017 Proyecto Desarrollo-Web, UMG / Eduardo Barrios.

    
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/material.js')
    script(src='/javascripts/ripples.js')
    script.
      $.material.init();




