.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') GameApp
      .navbar-collapse.collapse.navbar-inverse-collapse
        ul.nav.navbar-nav
          li
            a(href='/default') Mis Juegos          
        
        ul.nav.navbar-nav.navbar-right        
          li
            a(href='/CerrarSesion') Cerrar Sesión
