footer{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.btn.btn-default.botonNav{
    color: #fff;
}

.btn-group-vertical{
    margin-left:45%;
}

