h1{
    color: #fff;
}
h2{
    color: #fff;
}
h3{
    color: #fff;
}
h4{
    color: #088A68;
}

p{
    color: #424242;
}
label{
    color: #fff;
}

body{
    background: #2E2E2E;    
}

footer{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.btn.btn-default.botonNav{
    color: #fff;
}

.btn-group-vertical{
    margin-left:45%;
}

div.fab{
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}

.btn-fab.alinear-botones{    
    margin-left: 35%;
}

.textoCreandoJuego{
    margin-left: 7%;
}

.centrar{
    margin-left: 47%;
    padding-top: -5px;
    padding-bottom: 15px;
}
