doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-material-design.css')
    link(rel='stylesheet', href='/stylesheets/ripples.css')
    link(rel='stylesheet', href='/stylesheets/material-icons.css')
    link(rel='stylesheet', href='/stylesheets/estilos.css')
  body
    .container-fluid
      h1.text-center GAME-APP
      br
      .row
        if mensaje != undefined
          .col-md-6.col-md-offset-3
            div(class="alert alert-dismissible alert-danger")
              button(type="button" class="close" data-dismiss="alert") ×            
              a(href="javascript:void(0)" class="alert-link text-center") ERROR!! El pin del juego no existe o es incorrecto.
            
        .col-md-6.col-md-offset-3
          .panel.panel-info
            .panel-heading
              h3.panel-title.text-center
                b PIN DEL JUEGO
            .panel-body
              form(action='/irJuego', method='post')
                .form-group.label-floating.has-success
                  label.control-label(for='focusedInput') 
                    i.mdi.mdi-fiber-pin  INGRESE EL PIN
                  input#pin.form-control(type='text', name='pin', required)
                  label(id="noExisteJuego" class="label label-danger") Error este pin no pertenece a ningún juego, verifique!

                .form-group.label-floating.has-success
                  label.control-label(for='focusedInput') 
                    i.mdi.mdi-fingerprint  INGRESE SU CARNE
                  input#focusedInput.form-control(type='text', name='carne', onkeypress="return validarCarne(event)", onpaste="return false",required)

                .form-group.label-floating.has-success
                  label.control-label(for='focusedInput') 
                    i.mdi.mdi-face  INGRESE SU NOMBRE
                  input#focusedInput.form-control(type='text', name='nombre' ,required)
                  button.btn.btn-raised.btn-success(type='submit',id="btn-entrarJuego") ENTRAR
      
        .col-md-6.col-md-offset-3
          p.parrafoIndex.text-center
            | Crea un juego gratis aquí 
            br
            a(href='/crearCuenta') Ir
    footer.navbar-fixed-bottom
      hr
      p © 2017 Proyecto Desarrollo-Web, UMG / Eduardo Barrios.

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/material.js')
    script(src='/javascripts/ripples.js')
    script.
      $.material.init();
    
    script(src="/javascripts/ajaxValidarExisteJuego.js")
