extends layout
block content
    div.container
        div.row
            div.col-xs-12
                hr
                center
                    a(href='/' class='btn btn-lg btn-info') Volver a intentarlo
                    hr
                    img(src='/images/not_found.png' class='img-responsive img-thumbanails')