.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 0px;}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #fcbd20;}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  background: url("../img/bg-pattern.png"), #7b4397;
  /* fallback for old browsers */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
  padding: 5px 0 5px;
  position: relative;
}
section{
  
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/fondo2.jpg');
  padding: 5px 0;
color: black;}

section p{font-family: 'Arial black';}

img{width: 38px; height: 38px;}

input#disabledInput{
  padding: 5px 0 5px;
  background-repeat;
  text-align: justify;
  font-family: 'Arial black';
}

section label{
  font-family: 'Arial black';
}
form p{
  text-align: justify;
  font-family: 'Arial';
}
img alt='Siguiente'{
  width: 1000px; height: 100px;
}



/*h1,h2,h3{ text-align: center; background: #008080; margin: 0}


body{ background: #808000}
section { text-align: center; margin: 15px 0; }

table { margin: 0 auto; }

input{ background: white;
 top: 0px;
 left: 50px;
 width: 10%;
 height: 50px;
 border-radius: 5px;
 transition: all 2s ease;
}*/
