extends ../template/layout
block content
  div(class=["container-fluid"])
    div(class="jumbotron")
      button(class=["btn","btn-raised","btn-default"]) Iniciar Juego

      div(class="row")
        div(class="col-md-12")
          h2(class="text-center") Participantes

