doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-material-design.css')
    link(rel='stylesheet', href='/stylesheets/ripples.css')
    link(rel='stylesheet', href='/stylesheets/material-icons.css')
    link(rel='stylesheet', href='/stylesheets/estilos.css')
  body
    div(class="container-fluid")
      h1(class="text-center") Ohh lo sentimos ha ocurrido un error!
      p(class="text-center",style="color:#fff;") Posiblemente no estes autorizado para entrar :(
      div(class="col-md-4 col-md-offset-4")
        a(href="/" class=["btn","btn-warning","btn-raised"]) Regresar a Home
      div(class="col-md-6 col-md-offset-3")
        img(srcset="images/error-img.png" id="notFound" class="img-responsive" title="error")
        
      
      
    footer.navbar-fixed-bottom
      hr
      p © 2017 Proyecto Desarrollo-Web, UMG / Eduardo Barrios.

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/material.js')
    script(src='/javascripts/ripples.js')
    script.
      $.material.init();

	
	



    