extends layout
block content
    include templates/nav
    div.container
        div.row
            div.col-xs-12
                br                
                ol(class="breadcrumb")
                    li
                        a(href="/inicio") Inicio
                    li.active Subir video
                form(method="post", action="/inicio")
                    input(type="hidden", value=id_auth, name="id_auth")
                    div(id="masDatos", style="display: none")
                        div.row
                            div.col-xs-12.col-sm-8.col-sm-offset-2
                                div(class=['panel','panel-default'])
                                    div(class="panel-heading")
                                        button(type="button", class=['btn','btn-primary','btn-xs'], id="btn_back_categoria") Regresar
                                    div(class="panel-body")
                                        div.form-group
                                            input(type="text", class="form-control", placeholder="Ingrese el titulo", name="titulo" required)
                                        div.form-group
                                            textarea(class="form-control", placeholder="Ingrese la descripción", rows="3" name="descripcion" required)
                                        div.form-group
                                            input(type="text", class="form-control", placeholder="URL o ID del video en youtube.com", name="urlVideo" required)
                                    div(class="panel-footer")
                                        input(type="submit", value="Guardar", class=['btn','btn-success'])
                    div(id="soloCategorias",style="margin-top:-2em")
                        div.page-header
                            h2 Seleccione la categoria del video
                        div.row
                            each categoria in data
                                div.col-xs-12.col-sm-3
                                    div.card-categoria
                                        img(src="/image/categorias/"+categoria.image)
                                        br
                                        div
                                            input(type='radio', name='categoria', value=categoria.id)
                                            h3.text-center.title-categoria #{categoria.descripcion}
                br    