extends layout.pug

block content
    include templates/nav
    div.container
        div.row
            div.col-xs-12
                br                
                ol(class="breadcrumb")
                    li
                        a(href="/inicio") Inicio
                    li.active Subir video
                form(method="post", action="/inicio")
                    input(type="hidden", value=id_auth, name="id_auth")
                    div(id="masDatos", style="display: none")
                        div.row
                            div.col-xs-12.col-sm-8.col-sm-offset-3
                                div.form-group
                                    input(type="text", class="form-control", placeholder="Ingrese el titulo", name="titulo" required)
                                div.form-group
                                    textarea(class="form-control", placeholder="Ingrese la descripción", rows="3" name="descripcion" required)
                                div.form-group
                                    input(type="text", class="form-control", placeholder="Id de video youtube", name="urlVideo" required)
                                input(type="submit", value="Guardar", class=['btn','btn-success','btn-lg'])
                    div(id="soloCategorias",style="margin-top:-2em")
                        div.page-header
                            h2 Seleccione la categoria del video
                        div.row
                            each categoria in data
                                div.col-xs-12.col-sm-4
                                    div.thumbnail
                                        input(type='radio', name='categoria', value=categoria.id)
                                        img(src="/image/user.png")
                                        div.caption
                                            h3 #{categoria.descripcion}
                    