extends layout.pug
block content
    section(class=['app-login'])
        div.container
            h1= title
            p Sube tu video para que el UMGteam vea tu trabajo!!
    div.container
        br
        div.row
            div(class=['col-xs-12','col-sm-8','col-sm-offset-2','col-md-6','col-md-offset-3'])
                div.panel.panel-default
                    div.panel-body
                        form(method="post", action="/signin")
                            div.row
                                div(class=['col-xs-12','col-sm-6'])
                                    div.form-group
                                        label Nombre(s)*
                                        input(type="text",class="form-control", name="name", placeholder="Nombre(s)", required)
                                div(class=['col-xs-12','col-sm-6'])                                    
                                    div.form-group
                                        label Apellido(s)*
                                        input(type="text",class="form-control", name="last_name", placeholder="Apellido(s)", required)
                            div.form-group
                                label Género*
                                div.input-group
                                    span.input-group-addon
                                        input(type="radio" name="gender" value=1)
                                    input(type="text" class="form-control" value="Hombre" disabled)
                                div.input-group
                                    span.input-group-addon
                                        input(type="radio" name="gender" value=0)
                                    input(type="text" class="form-control" value="Mujer" disabled)
                            div.form-group
                                label Correo Electrónico*
                                div.input-group
                                    span(class=['input-group-addon'])
                                        span @
                                    input(type="email", class=['form-control'], id="email", name="email", placeholder="Correo Electrónico")                            
                            div.form-group
                                label Contraseña*
                                div.input-group
                                    span(class=['input-group-addon'])
                                        span(class=['glyphicon','glyphicon-asterisk'])
                                    input(type="password", class=['form-control'], id="password", name="password", placeholder="Contraseña", required)
                            input(type="submit", class=['btn','btn-signin'] value="Registrar")
                    div.panel-footer
                        span ¿Ya tienes una cuenta? 
                        a(href="/login", class=['btn','btn-login']) Inicia Sesión
                br
    footer(class=['app-footer','navbar-fixed-bottom'])
            div.container
                p Derechos Reservados @TeamUMG