extends layout.pug
block content
    div.container
        div.row
            div(class="col-xs-12")
                section(class=['app-principal'])
                    div.container
                        h1= title
                        p Sube tu video para que el UMGteam vea tu trabajo!!
                br
                div.row
                    div(class=['col-xs-12','col-sm-8','col-sm-offset-2','col-md-6','col-md-offset-3'])
                        form(method="post", action="/signin")
                            div.form-group
                                input(type="text",class="form-control", name="name", placeholder="Nombre")
                            div.form-group
                                input(type="text",class="form-control", name="lastname", placeholder="Apellido")
                            div.form-group
                                div.input-group
                                    span(class=['input-group-addon'])
                                        span @
                                    input(type="text", class=['form-control'], id="username", name="email", placeholder="Correo Electrónico")
                            div.form-group
                                div.input-group
                                    span(class=['input-group-addon'])
                                        span(class=['glyphicon','glyphicon-user'])
                                    input(type="text", class=['form-control'], id="username", name="username", placeholder="Usuario", required)
                            div.form-group
                                div.input-group
                                    span(class=['input-group-addon'])
                                        span(class=['glyphicon','glyphicon-asterisk'])
                                    input(type="password", class=['form-control'], id="password", name="password", placeholder="Contraseña", required)
                            div(class=['col-sm-6'])
                                input(type="submit", class=['btn','btn-success','btn-block'] value="Registrarse")
                            div(class=['col-sm-6'])
                                a(href="/login", class=['btn','btn-primary','btn-block']) Iniciar Sesión