extends template/layout
block content
    .container
      br
      br
      br
      br
      br
      br
      .row
        .col-md-6.col-md-offset-3
          h1.
            REGISTRATE GRATIS
          |
        .col-md-6.col-md-offset-3
          h4.
            Registrate para poder disfrutar del juego cierto o falso!!!
      |
      br
      form#needs-validation.container(novalidate='')
      .row
        .col-md-6.col-md-offset-3
          label(for='usuariocrearusuario') USUARIO
          |       
          input#usuariocrearusuario.form-control(type='text',style='color:#81F7F3', placeholder='Ingrese su usuario', required='')
          p.
            favor de ingresar su Usuario correcto.
        |
        |
        .col-md-6.col-md-offset-3
          label(for='emailcrearusuario', data-error='email incorrecto', data-success='email valido') CORREO ELECTRONICO
          |       
          input#emailcrearusuario.form-control(type='email',style='color:#81F7F3', placeholder='Ingrese su correo', required='',class='validate')       
          .invalid-feedback
          p.
            favor de ingresar su Correo Electronico correcto.
        |     
        .col-md-6.col-md-offset-3
          label(for='contraseniacrearusuario') CONTRASEÑA
          |       
          input#contraseniacrearusuario.form-control(type='password',style='color:#81F7F3', placeholder='Ingrese su contraseña', required='')       
          .invalid-feedback
          p.
            favor de ingresar su Contraseña correcta.
        |
      .row
        .col-md-1.col-md-offset-3
          a(href='/listaJuegos')   
           button(type='button',class='btn btn-primary btn-raised') 
            |CREAR USUARIO
            i(class='mdi mdi-account-circle')
        |