extends template/layout 
block content       
    .container
      br
      br
      br
      br
      br
      br
      br
      .row
        .col-md-8.col-md-offset-2
          .jumbotron.jumbotron-fluid
            h1.display-3 PREGUNTA!!!
            |             
            p.lead DOS ES UN NUMERO PAR?.
            |             
            hr.my-4
            |            
            |             
            p.lead
              a.btn.btn-primary.btn-lg(href='/mipagina/vistas/gameindividual.html', role='button') CIERTO
              |               
              a.btn.btn-danger.btn-lg(href='/mipagina/vistas/gameindividual.html', role='button') FALSO
    |           
