doctype html
html
  head
    title JUEGO
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    .container
      style.
        body{
        background-image:url('imagenes/fondocolores.gif');
        background-position: center;
        }
        h1{
        color:#40FF00;
        }
        h2{
        color: #FE2E2E;
        }
        ul{
        color: #FE9A2E;
        }
  body
    .row
      .col-md-1.col-md-offset-0
        h3 DENIS ROSALES
        ul.nav.nav-pills.nav-stacked
          li.active(role='presentation')
            a(href='#') INICIO
          li(role='presentation')
            a(href='#') Perfil
          li(role='presentation')
            a(href='#') cerrar sesion
    .container
      .row
        .col-md-6.col-md-offset-3
          h1.text-center
            | BIENVENIDOS AL JUEGO DE PREGUNTAS
            br
            br
      .row
        .col-md-12.col-md-offset-1
          h2
            strong
              | INSTRUCCIONES DEL JUEGO
              br
          ul
            strong
              li Es un juego de preguntas rapidas
              li asignado con un tiempo especifico
              li
                | debes de contestar si es VERDADERO o FALSO
                br
                br
                br
      .row
        .col-md-10.col-md-offset-1
          p
            button.btn.btn-lg.btn-success(type='button', data-toggle='modal', data-target='#myModal')
              | asignarme al juego 
              span.glyphicon.glyphicon-pencil(aria-hidden='true')
            button.btn.btn-lg.btn-danger(type='button')
              | retirarme del juego 
              span.glyphicon.glyphicon-remove(aria-hidden='true')
            button.btn.btn-lg.btn-primary(type='button')
              | iniciar el juego 
              span.glyphicon.glyphicon-play(aria-hidden='true')
          br
          .panel.panel-primary
            .panel-heading GAME PLAYERS
            .panel-body
              p#nombre
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title INGRESE SU NOMBRE
          .modal-body
            .form-group
              label Nombre
              input#nombreJugador.form-control(type='text', placeholder='Nombre del Jugador')
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
            button#btnGuardar.btn.btn-primary(type='button') Guardar Jugador
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script.
      $(function(){
      $('#btnGuardar').click(function(){
      $('#nombre').append($('#nombreJugador').val()+'<br>');
      });
      });
