doctype html
html
  head
    title LISTA DE JUEGOS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    .container
      style.
        body{
        background-image:url('imagenes/fondocolores.gif');
        background-position: center;
        }
        h1{
        color:#40FF00;
        }
        h2{
        color: #FE2E2E;
        }
        ul{
        color: #FE9A2E;
        }
  nav#menu.navbar.navbar-toggleable-md.navbar-inverse.bg-primary.navbar-fixed-top(role='navigation')
    .container-fluid
      a.navbar-brand(href='/listaJuegos') INICIO
      a.navbar-brand(data-toggle='modal', data-target='#nuevojuego') CREAR JUEGO
      form.navbar-form.navbar-left
        .form-group
          input.form-control(type='text', placeholder='Buscar juego')
        button.btn.btn-default(type='submit') Buscar
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | OPCIONES 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') perfil
            li
              a(href='#') otra accion
            li.divider(role='separator')
            li
              a(href='/login') Salir
  br
  br
  .container
    .row
      .col-md-6.col-md-offset-3
        h1.text-center
          | BIENVENIDOS A LA LISTA DE JUEGOS
          br
          br
    .row
      .col-md-12.col-md-offset-1
        h2
          strong
            | SELECCIONA TU JUEGO
            br
    .row
      .col-md-10.col-md-offset-1
        p
          button.btn.btn-lg.btn-success(type='button', data-toggle='modal', data-target='#myModal')
            | asignarme al juego 
            span.glyphicon.glyphicon-pencil(aria-hidden='true')
          button.btn.btn-lg.btn-primary(type='button', data-toggle='modal', data-target='#modaloption')
            | iniciar el juego 
            span.glyphicon.glyphicon-play(aria-hidden='true')
        br
        .panel.panel-primary
          .panel-heading GAME PLAYERS
          .panel-body
            p#nombre
  // Modal de jugadores
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title INGRESE SU NOMBRE
        .modal-body
          .form-group
            label Nombre
            input#nombreJugador.form-control(type='text', placeholder='Nombre del Jugador')
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
          button#btnGuardar.btn.btn-primary(type='button') Guardar Jugador
  // modal de elejir opcion
  #modaloption.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title MODO DE JUEGO
        .modal-body
          .form-group
            label Elija el modo que desea jugar
        .modal-footer
          a(href='juegoindividual.html')
            button.btn.btn-primary(type='button') INDIVIDUAL
          a(href='juegomultijugador.html')
            button.btn.btn-primary(type='button') MULTIJUGADOR
  // Modal de nombre del nuevo juego
  #nuevojuego.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title INGRESE NOMBRE DEL JUEGO
        .modal-body
          .form-group
            label Que nombre le desea poner a su Juego?
            input#nombreJuego.form-control(type='text', placeholder='Nombre del Juego')
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
          a(href='/crearJuego')
            button#btnGuardar.btn.btn-primary(type='button') Guardar Nombre
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
  script.
    $(function(){
    $('#btnGuardar').click(function(){
    $('#nombre').append($('#nombreJugador').val()+'<br>');
    });
    });