extends template/layout
block content
  .container
    br
    br
    br
    br
    br
    br
    .row
      .col-md-6.col-md-offset-3      
        h1.text-center
          | BIENVENIDOS A LA LISTA DE JUEGOS
          br
          br
    .row
      .col-md-12.col-md-offset-1
        h2
          strong
            | SELECCIONA TU JUEGO
            br
    .row
      .col-md-10.col-md-offset-1
        p
          button(type='button',class='btn btn-primary btn-raised', data-toggle='modal', data-target='#myModal')
            | asignarme al juego 
            i(class='mdi mdi-add-circle')
          button(type='button',class='btn btn-primary btn-raised', data-toggle='modal', data-target='#modaloption')
            | iniciar el juego 
            i(class='mdi mdi-play-circle-filled')
        br
        .panel.panel-primary
          .panel-heading GAME PLAYERS
          .panel-body
            p#nombre
  // Modal de jugadores
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title INGRESE SU NOMBRE
        .modal-body
          .form-group
            label Nombre
            input#nombreJugador.form-control(type='text', placeholder='Nombre del Jugador')
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
          button#btnGuardar.btn.btn-primary(type='button') Guardar Jugador
  // modal de elejir opcion
  #modaloption.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title MODO DE JUEGO
        .modal-body
          .form-group
            label Elija el modo que desea jugar
        .modal-footer
          a(href='/gameindividual')
            button.btn.btn-primary(type='button') INDIVIDUAL
          a(href='/gamemultijugador')
            button.btn.btn-primary(type='button') MULTIJUGADOR
  // Modal de nombre del nuevo juego
  #nuevojuego.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title INGRESE NOMBRE DEL JUEGO
        .modal-body
          .form-group
            label Que nombre le desea poner a su Juego?
            input#nombreJuego.form-control(type='text', placeholder='Nombre del Juego')
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
          a(href='/crearJuego')
            button#btnGuardar.btn.btn-primary(type='button') Guardar Nombre    
  script.
    $(function(){
    $('#btnGuardar').click(function(){
    $('#nombre').append($('#nombreJugador').val()+'<br>');
    });
    });
