extends template/layout
block content
    .container
      br
      br
      br
      br
      br
      br
      .row
        .col-md-6.col-md-offset-4
          H1.
            INICIAR SESION
      |    
      |         
      form#needs-validation.container(novalidate='')
      .row
        .col-md-6.col-md-offset-3
          label(for='validationCustom01') USUARIO
          |       
          input#validationCustom01.form-control(type='text',style='color:#81F7F3', placeholder='Ingrese su Usuario', required='')
          p.
            favor de ingresar su Usuario correcto.
        |
        |     
        .col-md-6.col-md-offset-3
          label(for='validationCustom02') CONTRASEÑA
          |       
          input#validationCustom02.form-control(type='password',style='color:#81F7F3', placeholder='Ingrese su Contraseña', required='')       
          .invalid-feedback
          p.
            favor de ingresar su Contraseña correcta.
        |
      .row
        .col-md-1.col-md-offset-3
          a(href='/listaJuegos')   
           button(type='button',class='btn btn-primary btn-raised') 
            |INICIAR SESION
            i(class='mdi mdi-account-circle')
        |
        |
        .col-md-1.col-md-offset-2
          a(href='/crearUsuario')   
           button(type='button',class='btn btn-primary btn-raised') 
            |REGISTRATE
            i(class='mdi mdi-create')
        |
