var pregunta = {
            pregunta : req.body.pregunta,
            tiempo : req.body.tiempo,
            idJuego : req.body.idJuego
        };

        var respuestas = {
            //respuesta : req.body.respuesta1
            resp1 : req.body.respuesta1,
            resp2 : req.body.respuesta2,
            resp3 : req.body.respuesta3,
            resp4 : req.body.respuesta4,
            correcta : req.body.optionsRadios 
        };

        var respCorrectas = {
            respCorrecta1 : respuestas.correcta == 1 ? true : false,
            respCorrecta2 : respuestas.correcta == 2 ? true : false,
            respCorrecta3 : respuestas.correcta == 3 ? true : false,
            respCorrecta4 : respuestas.correcta == 4 ? true : false,
        };

        console.log(pregunta);
        console.log(respuestas);
        console.log(respCorrectas);