nav#menu.navbar.navbar-toggleable-md.navbar-primary.bg-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
      .row
        .col-md-8.col-md-offset-4
          h1.
             ||CIERTO O FALSO||
      .row
        .col-md-8.col-md-offset-3
          p.
            El juego consiste en decidir si es falso o verdadero, nos ayuda a aprender y a tomar decisiones.
    
              